# =========================
# Supernova Environment Config
# =========================

# API Gateway (Node.js)
PORT=4000
UPLOAD_DIR=./uploads
DICOM_SERVICE_URL=http://localhost:5000

# DICOM Service (Python)
DICOM_PORT=5000

# Frontend (Vite)
VITE_API_URL=http://localhost:4000/api
