# =========================
# Supernova Environment Config
# =========================

# API Gateway (Node.js)
PORT=4000
UPLOAD_DIR=./uploads
DICOM_SERVICE_URL=http://localhost:5001

# Database connections
PG_HOST=localhost
PG_PORT=5432
PG_USER=dicom
PG_PASSWORD=dicom
PG_DATABASE=dicom_meta
MONGO_URI=mongodb://localhost:27017

# DICOM Service (Python)
DICOM_PORT=5001
PG_DSN=dbname=dicom_meta user=dicom password=dicom host=localhost port=5432

# Frontend (Vite)
VITE_API_URL=http://localhost:4000/api
